* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'MontserratT';
}


@font-face {
  font-family: 'MontserratT';
  src: url('../rsschool-cv/rsschool-cv/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratT';
  src: url('../rsschool-cv/rsschool-cv/fonts/Montserrat-SemiBold.ttf');
  font-weight: 700;
  font-style: normal;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.container_profile {
  width: 1600px;
  height: 350px;
  background-color: var(--color-blue);
  border-radius: 65px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 60px;
}

.profile_title {
  font-size: 64px;
  font-weight: 700;
  color: var(--color-beige);
  margin-bottom: 40px;
  margin-left: 60px;
}

.profile_text {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-beige);
  margin-left: 60px;
}

.title_hr {
  width: 150px;
  position: relative;
  bottom: 0px;
  margin: 0;
  border: 0px;
  border-top: 6px solid rgb(225, 33, 121)
}

.footer {
  width: 1600px;
  height: 100px;
  background-color: var(--color-beige);
  border-radius: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}